---
layout: blog
title: Things I Wrote
---

<div class="page-wrapper-body">
  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

  {% for year in postsByYear %}
  <div class="page-wrapper-body-wrapper">
    <div class="page-wrapper-body-left-nav">
      <h2>{{ year.name }}</h2>
    </div>
    {% for post in year.items %}
    <div class="page-wrapper-body-content">
      <section class=page-wrapper-section>
        <div class=page-wrapper-item>
          <div class=page-wrapper-item-metadata>
              <div class=title>
                  <a href="{{ post.url }}">{{ post.title }}</a>
              </div>
              <div>
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%B %d, %Y' }}</time>
              </div>
          </div>
          <div class=summary>{{ post.excerpt }}</div>
        </div>
        <div class=page-wrapper-bottom-border></div>
      </section>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>