<!doctype html>
<html lang=en-us>
    <head>
        <title>Oluwatosin Olajide</title>
        <link rel=stylesheet href="{{ '/assets/css/style.css' | relative_url }}">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
    </head>
    <body>
        <nav class=navigation>
            <div id=nav-title>Oluwatosin Olajide</div>
            <div id=nav-content-hamburger>
                <button id=nav-content-hamburger-btn>
                    <svg width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <rect width="800" height="70" x="80" y="96" fill="var(--ci-primary-color, currentcolor)" class="ci-primary"/>
                        <rect width="800" height="70" x="80" y="240" fill="var(--ci-primary-color, currentcolor)" class="ci-primary"/>
                        <rect width="800" height="70" x="80" y="384" fill="var(--ci-primary-color, currentcolor)" class="ci-primary"/>
                    </svg>
                </button>
            </div>
            <div id=nav-content>
                <div>
                    <a href="{{ '/' | relative_url }}"><span class="arrow">←</span>Home</a>
                </div>
                <div>
                    <a href="{{ '/blog' | relative_url }}">Blog</a>
                </div>
                <div>
                    <a href="{{ '/project' | relative_url }}">Projects</a>
                </div>
            </div>
        </nav>
        <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
        <main class=main>
            <section id ="single">
                <h1 class="title">{{ page.title }}</h1>
                <div class="tip">
                    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%B %d, %Y' }}</time>
                    <span class="split">·</span>
                    <span>{{ page.content | number_of_words }} words</span>
                    <span class="split">·</span>
                    {% assign words = page.content | number_of_words %}
                    {% assign minutes = words | divided_by: 200 %}
                    <span>{{ minutes }} minute read</span>
                </div>
                {{ content }}
            </section>
        </main>
        <footer id=footer>
            <div class=copyright>© Copyright 2021, <a href="https://www.ayomideoyekanmi.com/">alternatewolf</a></div>
        </footer>
    </body>
</html>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>